<!-- <div class="whale"><%= image_tag("whale.jpg", :alt => "whale") %></div> -->
 <div class="first">
  <div class="container">
      <div class="dialogue one" id="dialogue-1">
        <p>
          1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
          optio, numquam dolorum vero ullam possimus iure error eaque aperiam
          nemo, nulla culpa, molestiae assumenda alias iusto quasi et nostrum
          fugiat?
        </p>
      </div>
      <div class="dialogue two" id="dialogue-2">
        <p>
          2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
          optio, numquam dolorum vero ullam possimus iure error eaque aperiam
          nemo, nulla culpa, molestiae assumenda alias iusto quasi et nostrum
          fugiat?
        </p>
      </div>
      <div class="dialogue one" id="dialogue-3">
        <p>
          3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
          optio, numquam dolorum vero ullam possimus iure error eaque aperiam
          nemo, nulla culpa, molestiae assumenda alias iusto quasi et nostrum
          fugiat?
        </p>
      </div>
      <div class="dialogue two" id="dialogue-4">
        <p>
          4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
          optio, numquam dolorum vero ullam possimus iure error eaque aperiam
          nemo, nulla culpa, molestiae assumenda alias iusto quasi et nostrum
          fugiat?
        </p>
      </div>
    </div>
 </div>
 
 
 <div id="gradient" > 
 <div class="items">
  <img src="#" class="icon" hidden="hidden" id="template" />
  <div id="dialogues"></div>
  <div id="x"></div>
    <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
    <div class="area" >
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div >
    <div class="cont"><img src="http://assets.stickpng.com/thumbs/58ac47d6f86c9c2eea74c4f0.png" alt="" class="whale">
      <img src="http://www.pngall.com/wp-content/uploads/2016/04/Water-Bottle-Free-Download-PNG.png" id="bottle"  />
      <div id="d-1" style="display: none">
        <p>dialog1</p>
      </div>
      <div id="d-2" style="display: none">
        <p>dialog2</p>
      </div>
    </div>
    </div>

</div>

