<div class="whale"><%= image_tag("whale.jpg", :alt => "whale") %></div>
<div class="items">
  <img src="#" class="icon" hidden="hidden" id="template" />
  <div id="dialogues"></div>
  <div id="x"></div>
</div>
