<!-- <div class="whale"><%= image_tag("whale.jpg", :alt => "whale") %></div> -->
<div class="cont"><img src="http://assets.stickpng.com/thumbs/58ac47d6f86c9c2eea74c4f0.png" alt="" class="whale">
  <img src="http://www.pngall.com/wp-content/uploads/2016/04/Water-Bottle-Free-Download-PNG.png" id="Item"  />
  <div id="d-1" style="display: none">
    <p>dialog1</p>
  </div>
  <div id="d-2" style="display: none">
    <p>dialog2</p>
  </div>
</div>
<div class="items">
  <img src="#" class="icon" hidden="hidden" id="template" />
  <div id="dialogues"></div>
  <div id="x"></div>
</div>
