<body>
  <div class="title">
    <h1>Ocean Story</h1>
  </div>
  <div class="animation">
    <!-- Start bubble -->
    <div class="round round-circle">
      <p class="start">Dive In!</p>
    </div>
  </div>
  <canvas>
    <!-- for the small bubbles -->
  </canvas>
  <script src="main.js"></script>
</body>
