<body>
  
    <img src=<%= asset_path 'OceanStory.png' %> alt="" id="ocean-story"/>
  
  <div class="animation">
    <!-- Start bubble -->
    <div class="round round-circle">
      <p class="start">Dive In!</p>
    </div>
  </div>
  <canvas>
    <!-- for the small bubbles -->
  </canvas>
  <script src="main.js"></script>
</body>
