// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{

position: relative;
left: 560px;
bottom: 390px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

 

}

.contentp{
position: relative;
 border: 2px solid white;
 border-radius: 10px; 
// left: 560px;
bottom: 490px;
margin: 10%;
font-size: 30px;

}